@media screen and (max-width:1024px) and (orientation: landscape)  {
    #message{
        display: none;
    }
    h1{
        font-size: 1.5em;
        padding: 10px;
        
    }
    
    h2{
        font-size: 1em;
        padding: 5px;
    }
    
    h4{
        font-size: 1em;
        padding: 5px;
    }
    
    body{
        padding: 0px;
        margin: 0px;
        
    }
    
    div > newGameButton{
     padding: 5px;
    }
}

@media (max-width: 1024px) and (orientation: portrait){
    #message{
        font-size: 3em;
    }
    button{
        display: none;
    }
}